body {
    text-align: center;
    
}

.text {
    padding:70px;
    display: table;
  margin: 0 auto;
    align-content: center;
    text-align: center;
}

.text a {
    font-size: 40px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
    text-decoration: none;
}

.text a:hover{
    font-size: 40px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
    text-decoration:line-through;
    opacity: 0.3;
}

